.node_name{
    cursor: pointer;
}

.AJBiaoTi{
    font-family: 'Microsoft YaHei UI';
    font: large bolder;
    color: black;
    margin: 2% 0 2% 2%;
    cursor: pointer;
}

.AJCiBiaoTi{
    color: grey;
    margin: 2% 0 2% 2%;
}